.downloads-call-us {
    display: flex;
    flex-direction: row;
}

.nav-phone-and-seperater {
    display: flex;
    flex-direction: row;
}

#nav-phone {
    margin: 0px 10px 0px 5px;
    font-size: 1.3rem;
    align-self: flex-start;
}
.nav-seperater {
    display: none;
    margin: 0px;
    padding: 0px;
}
#nav-map {
    margin: 0px 10px 0px 5px;
    font-size: 1.3rem;
}


#nav-phone-call {
    margin: 0px 30px 0px 0px;
    font-size: 1.2rem;
    align-self: flex-start;
}

#nav-map-go {
    margin: 0px 0px 0px 30px;
    font-size: 1.2rem;
}
.nav-button {
  z-index: 8;
}
.contact-nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(0 64 143 / 55%); */
  margin: 0px 0px 10px 0px;
  padding: 0px 5px 0px 5px;
}
.menu-open #nav-phone,
.menu-open #nav-map {
  display: none;
}
.menu-open .nav-seperater {
    display: flex;
    margin: 0px 4px 0px 2px;
  }

.menu-open .nav-phone-and-seperater {
    margin: 0px 30px 0px 30px;
}

.menu-open #nav-map {
    margin: 0px 30px 0px 10px;
}

.default-company-call-directions {
    display: flex;
    flex-direction: row;
    margin: 10px 0 4px;
}

.menu {
    position: relative;
  }
  
  .menu-item {
    cursor: pointer;
    padding: 8px 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 4px;
  }
  
  .menu-item:hover {
    background-color: #e0e0e0;
  }
  
  .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .sub-menu-item {
    padding: 8px 16px;
  }
  
  .menu:hover .sub-menu {
    display: block;
  }
  .change-call-us {
    display: flex;
    flex-direction: row;
  }

  #map-icon-nav {
    margin: 0px 0px 0px 0px;
  }
  
  #map-icon-nav-text {
    font-size: 1rem;
    width: max-content;
  }

  #map-icon-nav:hover {
    transform: translateY(-3px);
  }

  @media (max-width: 1400px) {
    .nav-button {
      /* align-self: center; */
      /* background-color: rgb(0 64 143 / 35%); */
      /* z-index: 8; */
    }
    .default-company-call-directions {
      /* margin: 0px 10px 0px 10px; */
    }

    .contact-nav-menu {
      z-index: 8;
      width: 100%;
    }
    #nav-phone-call {
      font-size: 1.8rem;
    }
    #nav-map-go {
      font-size: 1.8rem;

    }

  }
  @media (max-width: 1150px) {
    .nav-button {
      font-size: 0.9rem;  
      min-width: max-content;
      padding: 2px;
      margin: 5px;
    }
    .nav-button-white {
      font-size: 0.9rem;  
      min-width: max-content;
      padding: 2px;
      margin: 5px;
    }
  }

  @media (max-width: 1050px) {
    .nav-button {
      /* align-self: center; */
      /* background-color: rgb(0 64 143 / 35%); */
      /* z-index: 8; */
    }
    .default-company-call-directions {
      font-size: 0.8rem;
      width: -webkit-fill-available;
    }

    .contact-nav-menu {
      z-index: 8;
    }

  }

  @media (max-width: 850px) {
    .menu-open .words-appear {
      display: flex;
    }
    .menu-open .nav-seperater {
      margin: 0px 4px 0px 2px;
    }
    .menu-open .nav-phone-and-seperater {

    }
    .navbar-container {
      max-height: 160px;
    }
    .nav-button {
      /* padding: 0px 0px 0px 0px; */
      /* margin: 5px 5px 0px 5px; */
      /* display: flex; */
      /* align-items: center; */
      /* align-self: unset; */
      /* justify-content: center; */
      /* z-index: 8; */
    }
    .nav-phone-and-seperater {
      display: flex;

      z-index: 8;
  }
    #nav-phone {
      margin: 0px 5px 0px 2px;
      font-size: 0.9rem;
      align-self: flex-start;
      z-index: 8;
  
    }
    #nav-map-go {
      margin: 0px 10px 0px 15px;
      font-size: 1rem;
    }
    #nav-phone-call {
      margin: 0px 15px 0px 10px;
      font-size: 1rem;
    }
    .nav-seperater {
        display: none;
        padding: 0px 0px 0px 0px;
    }
    #nav-map {
        margin: 0px 2px 0px 5px;
        padding: 0px 0px 0px 0px;
        font-size: 0.9rem;
        z-index: 8;
    }
    .words-appear {
      display: flex;
      align-self: center;
      justify-self: center;
    }
    .contact-nav-menu {
      /* position: absolute; */
      /* z-index: 8; */
      /* background-color: rgb(0 64 143 / 75%); */
  
    }
    .default-company-call-directions {
      /* min-width: 300px; */
      /* justify-content: space-between; */

    }
    .change-call-us {
      
    }
    .nav-button {
      font-size: 0.6rem;
      padding: 2px 6px 2px 6px;
      align-items: center;
      justify-content: center;
    }
    .nav-button-white {
      font-size: 0.6rem;  
      padding: 2px 6px 2px 6px;

    }
    .downloads-call-us {
      display: flex;
      flex-direction: row;
      max-height: 22px;
      align-items: baseline;
  }
  }

@media (max-width: 450px) {
  .
  .menu-open .words-appear {
    display: flex;
  }
  .menu-open .nav-seperater {
    margin: 0px 4px 0px 2px;
  }
  .menu-open .nav-phone-and-seperater {
    margin: 0px 0px 0px 20px;
  }
  .navbar-container {
    max-height: 60px;
    min-height: 66px;
  }
  .nav-button {
    /* padding: 0px 0px 0px 0px;
    margin: 5px 5px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    z-index: 8;
    min-width: max-content;
    font-size: 0.8rem; */
  }
  .nav-phone-and-seperater {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 0px;
    padding: 6px 6px 6px 6px;
    z-index: 8;
    min-height: 6px;
}
  #nav-phone {
    margin: 0px 5px 0px 2px;
    font-size: 0.7rem;
    align-self: flex-start;
    z-index: 8;

  }
  #nav-map-go {
    margin: 0px 10px 0px 15px;
    font-size: 1rem;
  }
  #nav-phone-call {
    margin: 0px 15px 0px 10px;
    font-size: 1rem;
  }
  .nav-seperater {
      display: none;
      padding: 0px 0px 0px 0px;
  }
  #nav-map {
      margin: 0px 2px 0px 5px;
      padding: 0px 0px 0px 0px;
      font-size: 0.7rem;
      z-index: 8;
  }
  .words-appear {
    /* display: none; */
  }
  .contact-nav-menu {
    /* position: absolute; */
    /* z-index: 8; */
    /* background-color: rgb(0 64 143 / 45%); */

  }
  .default-company-call-directions {
    /* min-width: max-content; */
    font-size: 0.8rem;
    /* justify-content: space-between; */
  }
  .change-call-us {
    
  }
}

@media (max-width: 380px) {
  .navbar-container {
    max-height: 60px;
    min-height: 50px;
  }
  /* .nav-button {
    padding: 0px 0px 0px 0px;
    margin: 5px 5px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    z-index: 8;
    min-width: max-content;
    font-size: unset;
  } */
  .nav-phone-and-seperater {
    /* display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 0px;
    padding: 2px 0px 2px 0px;
    z-index: 8; */
    padding: 2px 0px 2px 0px;
  }
}

@media (max-width: 350px) {
  .navbar-container {
    min-height: 50px;
  }
  #nav-phone {
    font-size: 0.7rem;
  }
  #nav-map {
    font-size: 0.7rem;
  }
  .default-company-call-directions {
    /* min-width: 105px; */
  }

  .nav-button {
    /* min-width: 60px; */
  }
}